.description {
    margin: 0 auto;
    padding-top: 60px;
    font-family: 'Open Sans', sans-ser;

    
    .description-title{
        font-size: 42px;
        
    }

    .description-content {
        line-height: 25px;
        font-size: 17px;


    }
}